// Button

.mdl-button {
    margin: 1rem;
    position: absolute;

    &.login {
        background-color: $insta-orange;
        color: $insta-lightgrey;
    }

    &.logout {
        background-color: $insta-purple;
        color: $insta-lightgrey;
    }
}
