{% if media is not empty %}
<div class="feed">
  {% for post in media %}
  <div class="feed-image">
    <a href="{{ post.link }}"><img src="{{ post.images.standard_resolution.url }} " /></a>
  </div>
  {% endfor %}
</div>
{% endif %}
