<div class="images grid">
  <div class="grid-sizer"></div>
  {% for image in images %}
  <div class="grid-item">
    <p><a href="{{ image.link }}"><img src="{{ image.images.standard_resolution.url }} " /></a></p>
  </div>
  {% endfor %}
</div>
