// Media

.feed {
    display: flex;
    flex-direction: row;
    margin: 2rem;
    width: calc(100% - 4rem);
}

.feed-image {
    width: 25%;

    img {
        height: auto;
        width: 100%;
    }
}
