a {
  margin-bottom: 1em !important;
}
.mdl-button {
  margin: 1em;
}
.profile * {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.profile img {
  border-radius: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 0px solid #000;
}
.images {
  margin: 0 auto;
  width: 90%;
}
.images img {
  height: auto;
  width: 100%;
}
