body {
  margin: 1em;
}
a {
  margin-bottom: 1em !important;
}
.profile img {
  border-radius: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border: 0px solid #000;
}
.profile *,
.media * {
  display: block;
  margin: 0 auto;
  text-align: center;
}
